<% query_collection = @queries.collect {|q| [q[:name], q[:action]] } %>

  <%= form_with url: searches_index_path(turbo_frame: "query_builder"), method: :get, html: {name: 'query-form'} do |f| %>
    <div class="form-group mr-1" %>
      <%= label_tag "What Active Record method would you like to work with?" %></br>
      <%= f.select "query_action", query_collection, {prompt: "Choose a method", selected: params[:query_action]}, {class: "custom-select custom-select-lg"
      } %>
    </div>

    <%= label_tag "Add form input which will be injected into your Active Record Method:" %></br>
    <div class="form-group" %>
      <%= f.text_area 'sql_string', value: params[:sql_string], id: "textarea" %>
    </div>

    <div class="form-group" %>
      <button id='clearForm', class="btn btn-primary" onclick="jqResetForm('query-form')">Clear</button>
      <%= f.submit("Submit SQL Query", string: nil, class: "btn btn-primary") %>
    </div>
  <% end %>

<turbo-frame id="query_builder" target="_top"></turbo-frame>