<div class="input">
  <div>
    <h1 class="fst-italic">Inject Some SQL!</h1>
    <%= render 'sql_form' %> 
  </div>
<div>

<%= turbo_frame_tag "query_builder" do %>
  <div>
    <% if @results %>
      <h2>Results</h1>
      <%= @results.inspect %>
    <% end %>

    <% if @sql_string %>
      <h2>SQL String</h1>
      <%= @sql_string %>
    <% end %>

    <% if @previous_params %>
      <h2>Params were:</h2>
      <%= @previous_params.inspect %>
    <% end %>

    <% if @error %>
      <h2>Error Message:</h2>
      <%= @error.inspect %>

    <% end %>
  </div>
<% end %>