<div class="container rounded-top">
  <div class="row border">
    <div class="col-7 border">
        <h1 class="fst-italic">Inject Some SQL!</h1>
        <%= render 'sql_form' %>
    </div>

    <div class = "col-5 border">
      <div id='Choose a method' class='selected_content default'>
        Choose an Active Record method to learn more about how to exploit it.
      </div>
      <div>
        <% @queries.each do |q| %>
          <div class='border selected_content' id='<%= q[:action] %>'>

            <h3><%= q[:name] %></h3>

            <h4>Active Record:</h4>
            <%= ruby_color q[:query] %>
            <h4>Generated SQL:</h4>
            <%= sql_color q[:sql] %>
            <h4>Explanation:</h4>
            <%= md q[:explanation] %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class ="row border">
    <div class="col-9 border">
      <%= turbo_frame_tag "query_builder" do %>
        <% if @results %>
          <h2>Return Value</h1>
          <%= ruby_color @results %>
        <% end %>

        <% if @sql_string %>
          <h2>SQL String</h1>
          <%= sql_color @sql_string %>
        <% end %>

        <% if @previous_params %>
          <h2>Params were:</h2>
          <%= ruby_color @previous_params %>
        <% end %>

        <% if @error %>
          <h2>Error Message:</h2>
          <%= @error.inspect %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>